<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Politicas de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur ipsum quam nobis numquam doloribus sunt et dolorem vel consequuntur laboriosam eveniet, dignissimos tenetur tempore eius quaerat rem excepturi cupiditate!</p>
</ion-content>